<div class="container">

    <div style="text-align:center">
      <img alt="Logo" src="../assets/LOGOAssinatura.png">
    </div>   
    

    Valor Dólar Atual: <label > {{cotacao?.USD.bid | slice:0:4}}</label>

    <form>
      <div class="form-group">
          <br>
        <label>Valor Produto(USD)</label>
        <input (input)="obterValorProduto($event)" [value]="vlProduto" class="form-control" id="vlProduto"  placeholder="Digite o valor do produto">
        <br>
        <label>Valor Taxa(USD)</label>
        <input (input)="obterValorTaxa($event)" [value]="vlTaxa" class="form-control" id="vlTaxa"  placeholder="Digite o valor da taxa">
  
        <label>Valor Frete(USD)</label>
        <input (input)="obterValorFrete($event)" [value]="vlFrete" class="form-control" id="vlFrete"  placeholder="Digite o valor do frete">
      </div>
      
      <br>
      Valor Final Cliente (BRL): <label > {{vlFinal}}</label>  
    </form>
  </div>